.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
   font-weight: 800px; 
font-size: 45px;
color: #181818;
margin: 0 35px 0 238px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 106px 203px 80px 253px;
}

.nav-text{
    color:#FD6E0A ;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
    
nav ul li a{
    text-decoration: none;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    font-size: 20px;
    align-items: center;
    /* margin: 35px; */
    /* margin-right: 50px; */
}

.header{
    background-image: url(/style/header_bg.png),url(/style/developer.png);
    /* background-repeat: no-repeat; */
    /* background-position: top left,bottom right; */
    background-position:bottom right,top left ;
    background-repeat: no-repeat;
    max-width: 0 auto;
    background-color:#FFF8F3 ;

    
}
.btn-primary{
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
}
.banner-title{
    font-weight: 600px;
    font-size: 45px;
    color: #474747;

}
.Banner-sub-title{
    font-weight: bold;
    font-size: 85px;
    color: 181818;
}
.Description{
    font-size: 20px;
    color: #757575;
}
.btn-secondary{
    background-color: white;
    color: #FD6E0A;
    border-radius:15px;
    border: 1px solid#FD6E0A;
    padding: 15px 30px;
    border-color: #FD6E0A;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 0 35px 0 238px;
}
.content{
    max-width: 585px;
    min-height: 356px;
}

.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    align-items: center;
}
.section-description{
    font-size: 18px;
    color:#757575 ;
}
main{
    max-width: 1134px;
    background-color: #FFF8F3;
    margin: 0 auto;
}

.about{
    /* margin: 135px 200px; */
    padding: 130px 230px;
    border-radius: 10px;
    align-items: center;
    margin-top: 130px;
    text-align: center;
}
.about-title{
    background-color: #FFFFFF;
    border: 2px solid black;
    gap: 30px;
    left: 1.8em;
}

.Personal-information{
    display: flex;
    justify-content: space-around;
}
.personal-title{
    font-size: 20px;
    color: #757575 ;
}
.personal-description{
    font-size: 20px;
    color:black ;
}

.skills-title{
    font-weight: bold;
    font-size: 35px;
    color:#181818 ;
}

.skills-description{
    font-size: 18px;
    color:#757575 ;
}
.about-skills{
    /* margin: 208px 343px 0px 343px; */
    
    /* background: none; */
    text-align:center;
}
.extra-skills{
    display: flex;
    /* border-radius: 5px; */
    gap: 24px;
    padding: 104px 30px 30px 33px;
}
.skill-item{
    border-radius: 5px;
    box-shadow:0px 6px 50px 0px black ;
    border-radius: 5px;
    width: 267px;
    height: 377px;
    /* smargin: 104px 30px 30px 33px; */
    text-align: left;
}